* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #127a27;
    color: #f9f9f9;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto; 
}

/* Login ============================================================================= */
.login {
    padding-top: 30px;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

.login form input {
    display: block;
    margin-bottom: 10px;
    outline: none;
    background-color: #07320f;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    padding: 8px;
    width: 200px;
    color: #f9f9f9;
}

.login form button {
    width: 200px;
    padding: 8px;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 100px;
    border: 1px solid #f9f9f9;
    color: #127a27;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.login form button:hover {
    background-color: #127a27;
    color: #f9f9f9;
}